#ck-button {
    margin:4px;
    background-color:#EFEFEF;
    border-radius:2px;
    border:1px solid #D0D0D0;
    overflow:auto;
    float:left;
    width:95%;
    height: 35px;
}

#ck-button:hover {
    background:rgba(153, 17, 17, 0.658);

}

#ck-button label {
    float:left;
    width: 100%;
    height: 35px;

}

#ck-button label span {
    text-align:center;
    padding:3px 0px;
    display:block;
    height: 35px;
    color:rgb(70, 67, 67);

}

#ck-button label span:hover{

    color:rgb(240, 230, 230);

}

#ck-button label input {
    position:absolute;
    top:-20px;

}

#ck-button input:checked + span {
    background-color:rgba(153, 17, 17, 0.658);
    color:#fff;
}
#other-text-area{

    width: 90%;
    background: transparent; 
    background-color: rgba(112, 104, 104, 0.459);
    border: none; 
    border-bottom: solid 5px white; 
    color: red; 
    font-size: 20px; 
    margin: 20px auto auto 10px;
}

#submit-details-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px
}
#cancel-details-button {
    background-color: rgb(175, 76, 76); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#complaints-options-list{
    padding-bottom:40px; 
}

.ortext{
    margin-top: 30px;
    display: block;
    padding-top: 140px;
    text-align: center;
}