.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*********************************/

html, body {
  background-color: white; 
  font-family: 'Roboto', sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  width:100%;
  height:100%;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

#rightsidebar{ 
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh; 
  width: 25%; 
  background-color: rgba(20,20,20,0.9);
  overflow-y: auto; 

}

ul{
  height: 300px;
}

#rightsidebar #header, #valueproposition, #train, #trainlines, #complain, #complaints {
  padding-left: 5%;
  padding-right: 5%; 
  padding-top: 5%;
  padding-bottom: 5%;
}


.lines {
  width: 50px; 
  height: 50px;
  line-height: 50px;
  border-radius: 50px; 
  display:block; 
  float: left;
  margin: 10px;
  background: red;
  text-align: center;
  vertical-align: middle;
}

.lines:hover {
  cursor: pointer;
  border-radius: 2px; 
  transition: border-radius .125s; 
}

.red {
  background-color: rgb(254, 0, 0);
}

.green {
  background-color: rgb(0, 136, 60); 
}

.purple {
  background-color: rgb(138, 1, 93); 
}

.blue {
  background-color: rgb(29, 111, 169); 
}

.orange {
  background-color: rgb(255, 99, 25); 
}

.light_green {
  background-color: rgb(157, 195, 83); 
}

.brown {
  background-color: rgb(137, 77, 34); 
}

.light_gray {
  background-color: rgb(146, 147, 152); 
}

.dark_gray {
  background-color: rgb(106, 107, 109); 
}

.yellow {
  background-color: rgb(252, 204, 10);
  color: black;
}

.another_blue {
  background-color: rgb(87, 192, 221); 
}

.hatepoint {
  background: red;
  width: 45%;
  height: 100px;
  line-height: 100px; 
  text-align: center;
  vertical-align: middle; 
  border-radius: 20px; 
  margin: 5px; 
  display: block;
  float: left;
  
  
}

.hatepoint:hover {
  opacity: .75;
  cursor: pointer;
  border-radius: 0px; 
  transition: border-radius 0.125s;
}


input {
  margin-right: 5%;
  margin-left: 5%; 
  height: 5%; 
  width: 90%;
  background: transparent; 
  background-color: rgba(112, 104, 104, 0.459);
  border: none; 
  border-bottom: solid 5px white; 
  color: red; 
  font-size: 20px; 
}

input:active {
  border: none; 
  outline: none;
}

input:focus {
  outline: none;
}

#map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

#mapbody {
  position: fixed;
  left: 0;
  top:0;
  /* width: 1045px;75%; */
  width:75%;
  height: 100vh; 
  max-height: 1500px;
  background-color: rgba(20,20,20,1);
}

#mapbody iframe {
  width: 100%; 
  height: 100%;
}

#footer {
  background: white; 
  color: rgba(20,20,20,0.7);
  position: fixed;
  bottom: 0; 
  width: 25%;
  z-index: 1;
  text-align: center;
}

/** Progress **/
.progress {
  margin-bottom: 20px;
  transition: all 0.2s ease;
}

.progress-step {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 18px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}


/*** crossfade **/
.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.cross-fade-height {
  transition: height .5s ease-in-out;
}



/**** POP UP FORM ****/



#contactForm { 
  display: block;

  border: 6px solid salmon; 
  padding: 2em;
  width: 60%;
  /* text-align: center; */
  background: #fff;
  /* position: fixed; */
  /* top:50%;
  left:50%; */
  /* transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%); */
  margin: auto 0;
  z-index: 30;
  
}

#contact-input, #contact-textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 90%; 
  padding: .4em;
}
#contace-textarea { height: 80px; resize: none; }

.contact-form-header, .contact-form-description{
  color: #222;
}

.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: rgb(41, 37, 37);
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

#cancel-button {
  background-color: rgb(175, 76, 76); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}